.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  display: flex;
  justify-content: space-around;
}

.Tasks {
  border: 1px solid black;
  margin: 0 4em;
}
.Task {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}
