.App {
  text-align: center;
  scroll-behavior: smooth;
}

.Header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px black solid;
  background-color: rgb(50, 177, 50);
}

.reminder {
  border-left: 5px solid rgb(255, 0, 0);
}

.Task-form {
  margin: 1em;
}

.form {
  margin: 0 40%;
  text-align: left;
}

.form > input {
  padding: 0.5em 1em;
  margin: 0.3em 0;
  border: 1px black solid;
  border-radius: 3px;
}

.form > label {
  font-weight: bold;
  padding: 3.5em 0em;
}
.Tasks {
  border: 2px solid black;
  margin: 0.5em 4em;
}
.Task {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 4em;
  cursor: pointer;
  border-radius: 4px;
  background-color: grey;
}
